@font-face {
  font-family: 'AppleEN-CondensedBlack';
  src: url('HelveticaNeue-CondensedBlack.woff') format('woff'),
       url('HelveticaNeue-CondensedBlack.ttf') format('truetype'),
       url('HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
}

@font-face {
  font-family: 'AppleEN-CondensedBold';
  src: url('HelveticaNeue-CondensedBold.woff') format('woff'),
       url('HelveticaNeue-CondensedBold.ttf') format('truetype'),
       url('HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
}

@font-face {
  font-family: 'AppleEN-Light';
  src: url('HelveticaNeue-Light.woff') format('woff'),
       url('HelveticaNeue-Light.ttf') format('truetype'),
       url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}

@font-face {
  font-family: 'AppleEN-LightItalic';
  src: url('HelveticaNeue-LightItalic.woff') format('woff'),
       url('HelveticaNeue-LightItalic.ttf') format('truetype'),
       url('HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
}

@font-face {
  font-family: 'AppleEN-Medium';
  src: url('HelveticaNeue-Medium.woff') format('woff'),
       url('HelveticaNeue-Medium.ttf') format('truetype'),
       url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
}

@font-face {
  font-family: 'AppleEN-UltraLight';
  src: url('HelveticaNeue-UltraLight.woff') format('woff'),
       url('HelveticaNeue-UltraLight.ttf') format('truetype'),
       url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
}

@font-face {
  font-family: 'AppleEN-UltraLightItalic';
  src: url('HelveticaNeue-UltraLightItalic.woff') format('woff'),
       url('HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
       url('HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
}

@font-face {
  font-family: 'AppleEN';
  src: url('HelveticaNeueATV.woff') format('woff'),
       url('HelveticaNeueATV.ttf') format('truetype'),
       url('HelveticaNeueATV.svg#HelveticaNeueATV') format('svg');
}

@font-face {
  font-family: 'AppleTC-Medium';
  src: url('STHeitiTC-Medium.eot?#iefix') format('embedded-opentype'),  url('STHeitiTC-Medium.woff') format('woff'), url('STHeitiTC-Medium.ttf')  format('truetype'), url('STHeitiTC-Medium.svg#STHeitiTC-Medium') format('svg');
}
