//.Fonts
//.@import.url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
// @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "./apple/font.css";
@import "./freelancer/freelancer";

// #content > :first-child {
//     padding-top: 75px;
// }
.navbar {
    @media (min-width: 992px) {
        .navbar-brand img {
            transform: scale(1.5);
            transform-origin: 0% 50%;
            transition: all .3s;
        }
        &.navbar-shrink .navbar-brand img {
            transform: scale(0.9);
        }
    }
}

.collapse.navbar-collapse {
    max-height: initial;
    overflow-y: initial;
    @media(max-width: 767px) {
        max-height: calc(100vh - 65.6px);
        overflow-y: auto;
    }
}

.dropdown-menu {
    max-height: calc(100vh - 65.6px);
    overflow-y: auto;
    @media(max-width: 767px) {
        max-height: initial;
        overflow-y: initial;
    }
}

#content > section:first-child {
    @media (max-width: 991px) {
        padding-top:65.59px !important;
    }
}