//.Fonts
//.@import.url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
// @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import "node_modules/font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index.scss';
@import "./apple/font.css";
@import "./freelancer/freelancer";

@import 'custom';

// #content > :first-child {
//     padding-top: 0;
// }
.navbar {
    @media (min-width: 992px) {
        .navbar-brand img {
            transform: scale(1.5);
            transform-origin: 0% 50%;
            transition: all .3s;
        }
        &.navbar-shrink .navbar-brand img {
            transform: scale(0.9);
        }
    }
}

.collapse.navbar-collapse {
    max-height: initial;
    overflow-y: initial;
    @media(max-width: 767px) {
        max-height: calc(100vh - 75.59px);
        overflow-y: auto;
    }
}

.dropdown-menu {
    max-height: calc(100vh - 65.6px);
    overflow-y: auto;
    @media(max-width: 767px) {
        max-height: initial;
        overflow-y: initial;
    }
}

.portfolio-link,.modal-body {
    .user-name {
        z-index: 1;
        color: #333;
        writing-mode: tb-rl;
        right: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        height: 100%;
        text-align: center;
    }
    .img-fluid.user {
        border-radius: 100%;
        transform: scale(0.95);
        @media(min-width: $grid-breakpoints-md) {
            transform: scale(0.7);
        }
        @media(min-width: $grid-breakpoints-lg) {
            transform: scale(0.95);
        }
        @media(min-width: $grid-breakpoints-xl) {
            transform: scale(0.8);
        }
    }
}