@import "./freelancer/freelancer";


.container-fulid> :first-child {
    padding-top: 200px;
}

.collapse.navbar-collapse {
        max-height: initial;
        overflow-y: initial;
    @media(max-width: 767px) {
    max-height: 75vh;
    overflow-y: auto;
    }
}